{# empty Twig template #}

<h1>Voici l'article</h1>

<table border="1">
    
    <tr>
         </tr>
         
         {% for article in articles %}
    <tr>
        <td>{{article.sujet}}</td>
        </tr> 
    {% endfor %} 
</table>
