{# empty Twig template #}
  <h2> Liste des candidats : </h2>
      
 
    
             {% for j in m %}
        <fieldset>
             <legend>Condidat CIN {{j.cin}}</legend>
   <table border ="0" >
           
        <tr>
             <td>Nom    </td>
            <td>
        {{j.nom}}
            </td>
        </tr>
        <tr>
           <td>Email    </td>

            <td>
        {{ j.email }}
            </td>
        </tr>
        <tr>
   <td>Etat    </td>

            <td>
        {{j.Etat }}
            </td>
         </tr> 
        
        </table>
           
  </fieldset>
        {% endfor %}
   
