{# empty Twig template #}
{# empty Twig template #}
{# empty Twig template #}




{% extends "TFTpersonneBundle:Session:layout.html.twig" %}
{% block content %}



<center>
    <h1>Ajouter Session </h1> 

{{form(Form)}}
</center>





    {% endblock %}

