<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<!-- Mirrored from www.ilcorsaronero.it/progettienvato/SiteParallax/ParallaxSite/site_tennis/preview/results.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Feb 2016 11:11:02 GMT -->
<head>
    <title>WT TENNIS</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

<meta name="author" content="corsini" />
<meta name="keywords" content="Tennis, club, events, football, golf, non-profit, betting assistant, football,fitness, tennis, sport, soccer, goal, sports, volleyball, basketball,	charity, club, cricket, football, hockey, magazine, non profit, rugby, soccer, sport, sports, tennis" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700,800,900' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href="css/fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!--Video Porfolio-->
    <link href="css/animate.css" rel="stylesheet" type="text/css" />

    <link href="css/jquery.bxslider.css" rel="stylesheet" type="text/css" />
    <link href="css/jquery.jscrollpane.css" rel="stylesheet" type="text/css" />
    <link href="css/component.css" rel="stylesheet" type="text/css" />
    <link href="css/style_dir.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
</head>
<body>
<section class="content-top-login">
  <div class="container">
      <div class="col-md-12">
           <div class="box-support"> 
             <p class="support-info"><i class="fa fa-envelope-o"></i> info@wttennis.com</p>
          </div>
           <div class="box-login"> 
             <i class="fa fa-shopping-cart"></i>
             <a href='login.html'>Login</a>
             <a href='login.html'>Sign Up</a>
          </div>
          <div class="cart-prod hiddenbox">
             <div class="sec-prod">
              <div class="content-cart-prod">
                <i class="fa fa-times"></i>
                <img src="images/shop/bags1.jpg" alt="" />
                <p>FIVE BLX</p>
                <p>1 X $55.00</p>
              </div>
              <div class="content-cart-prod">
                <i class="fa fa-times"></i>
                <img class="racket-img" src="images/shop/1_100L.jpg" alt="" />
                <p>FIVE BLX</p>
                <p>1 X $125.00</p>
              </div>
               <div class="content-cart-prod">
                <p class="cart-tot-price">Total: $180.00</p>
                <a href="#" class="btn-cart">Go to cart</a>
                <a href="#" class="btn-cart">Checkout</a>
              </div>
             </div>
          </div>
        </div>
      </div>
  </section>
<section class="container box-logo">
    <header>
        <div class="content-logo col-md-12">
          <div class="logo"> 
            <img src="img/logo2.png" alt="" />
          </div>
            <div class="bt-menu"><a href="#" class="menu"><span>&equiv;</span> Menu</a></div>
         <div class="box-menu">
            
            <nav id="cbp-hrmenu" class="cbp-hrmenu">
					    <ul id="menu">    
                            <li><a class="lnk-menu" href="index.html">Home</a></li>
                            <li>
								<a class="lnk-menu" href="#">Pages</a>
                                <div class="cbp-hrsub sub-little">
                                  <div class="cbp-hrsub-inner"> 
                                      <div class="content-sub-menu">
								        <ul class="menu-pages">
									        <li><a href="tournaments.html"><span>Tournaments</span></a></li>
									        <li><a href="login.html"><span>Login</span></a></li>
									        <li><a href="news.html"><span>News</span></a></li>
                                            <li><a href="single_news.html"><span>Single News</span></a></li>
									        <li><a href="video_tube.html"><span>Video (youtube)</span></a></li>
									        <li><a href="video.html"><span>Video (html5)</span></a></li>
									        <li><a href="results.html"><span>Results</span></a></li>
                                            <li><a href="players.html"><span>Players</span></a></li>
                                            <li><a href="single_player.html"><span>Single Player</span></a></li>
                                            <li><a href="matches.html"><span>Matches</span></a></li>
                                            <li><a href="match.html"><span>Single Match</span></a></li>
                                            <li><a href="shops.html">Shop</a></li>
                                            <li><a href="shop_rackets.html">Shop Rackets</a></li>
                                            <li><a href="details_prod.html">Single products</a></li>
                                            <li><a href="gallery_col.html">Photo Gallery</a></li>
								          </ul>
                                        </div>
                                    </div>
                                </div>
							</li>
						<li><a class="lnk-menu" href="players.html">Players</a></li>
                        <li><a class="lnk-menu active" href="results.html">Results</a></li>
						<li><a class="lnk-menu" href="news.html">News</a></li>
                        <li><a class="lnk-menu" href="shops.html">Shop</a></li>
                        <li><a class="lnk-menu" href="contact.html">Contact</a></li>
					</ul>
				</nav>
              </div>
			</div>
	</header>
 </section>
   <section class="drawer">
    <div class="col-md-12 size-img back-img">
        <div class="effect-cover">
            <h3 class="txt-advert animated">The best Nikol Radek</h3>
            <p class="txt-advert-sub">Lifelong dream of becoming the No. 1 player on the ATP World Tour </p>
        </div>
    </div>
    
    <section id="summary" class="container secondary-page">
      <div class="general general-results">
           <div id="rrResult" class="top-score-title right-score total-reslts col-md-9">
                <h3>Total <span>Scores</span><span class="point-little">.</span></h3>
                <div class="cat-con-desc">
                <img src="images/cup1.jpg" alt="" /><p class="news-title-right">The best result</p>

                <div class="main">
                     
                            <div class="tab-content">
                                <div id="tab1111" class="tab active">
                                <table class="tab-score">
                                    {% block for %}
                                    {% endblock for %}

                                 </table>
                                </div>
                                <div id="tab2222" class="tab">
                                <table class="tab-score">
                                <tr class="top-scrore-table"><td class="score-position">POS.</td><td>PLAYER</td><td>NAT.</td><td>POINTS</td></tr>
                                  <tr><td class="score-position">1.</td><td><a href="single_player.html">Serena Fergus</a></td><td><img src="images/flags/usa.png" alt="" /></td><td>1234</td></tr>
                                  <tr><td class="score-position">2.</td><td><a href="single_player.html">Simo PAatris</a></td><td><img src="images/flags/uk.png" alt="" /></td><td>1234</td></tr>
                                  <tr><td class="score-position">3.</td><td><a href="single_player.html">Lea Sear</a></td><td><img src="images/flags/italy.png" alt="" /></td><td>1234</td></tr>
                                  <tr><td class="score-position">4.</td><td><a href="single_player.html">Petra Bukova<span class="newrecord">New Record</span></a></td><td><img src="images/flags/denmark.png" alt="" /></td><td>1234</td></tr>
                                  <tr><td class="score-position">5.</td><td><a href="single_player.html">Aga Subaru</a></td><td><img src="images/flags/uk.png" alt="" /></td><td>1234</td></tr>
                                  <tr><td class="score-position">6.</td><td><a href="single_player.html">Maria Srapova</a></td><td><img src="images/flags/france.png" alt="" /></td><td>1234</td></tr>
                                  <tr><td class="score-position">7.</td><td><a href="single_player.html">Anne Kerber</a></td><td><img src="images/flags/brazil.png" alt="" /></td><td>1234</td></tr>
                                  <tr><td class="score-position">8.</td><td><a href="single_player.html">Eugenie Borard<span class="fastball">Fast Ball</span></a></td><td><img src="images/flags/spain.png" alt="" /></td><td>1234</td></tr>
                                  <tr><td class="score-position">9.</td><td><a href="single_player.html">Ana Ivavic</a></td><td><img src="images/flags/germany.png" alt="" /></td><td>1234</td></tr>
                                  <tr><td class="score-position">10.</td><td><a href="single_player.html">Jelena Janvic</a></td><td><img src="images/flags/czech.png" alt="" /></td><td>1234</td></tr>
                                  <tr><td class="score-position">11.</td><td><a href="single_player.html">Caroline Woki</a></td><td><img src="images/flags/czech.png" alt="" /></td><td>1234</td></tr>
                                 </table>
                                </div>
                                <div id="tab3333" class="tab">
                                <table class="tab-score">
                                <tr class="top-scrore-table"><td class="score-position">POS.</td><td>PLAYER</td><td>NAT.</td><td>POINTS</td></tr>
                                  <tr><td class="score-position">1.</td><td><a href="single_player.html">name1</a></td><td>-</td><td>1234</td></tr>
                                  <tr><td class="score-position">2.</td><td><a href="single_player.html">name2</a></td><td>-</td><td>1234</td></tr>
                                  <tr><td class="score-position">3.</td><td><a href="single_player.html">name3</a></td><td>-</td><td>1234</td></tr>
                                  <tr><td class="score-position">4.</td><td><a href="single_player.html">name4</a></td><td>-</td><td>1234</td></tr>
                                  <tr><td class="score-position">5.</td><td><a href="single_player.html">name5</a></td><td>-</td><td>1234</td></tr>
                                  <tr><td class="score-position">6.</td><td><a href="single_player.html">name6</a></td><td>-</td><td>1234</td></tr>
                                  <tr><td class="score-position">7.</td><td><a href="single_player.html">name7</a></td><td>-</td><td>1234</td></tr>
                                  <tr><td class="score-position">8.</td><td><a href="single_player.html">name8</a></td><td>-</td><td>1234</td></tr>
                                  <tr><td class="score-position">9.</td><td><a href="single_player.html">name9</a></td><td>-</td><td>1234</td></tr>
                                  <tr><td class="score-position">10.</td><td><a href="single_player.html">name10</a></td><td>-</td><td>1234</td></tr>
                                  <tr><td class="score-position">11.</td><td><a href="single_player.html">name11</a></td><td>-</td><td>1234</td></tr>
                                  <tr><td class="score-position">12.</td><td><a href="single_player.html">name12</a></td><td>-</td><td>1234</td></tr>
                                  <tr><td class="score-position">13.</td><td><a href="single_player.html">name13</a></td><td>-</td><td>1234</td></tr>
                                  <tr><td class="score-position">14.</td><td><a href="single_player.html">name14</a></td><td>-</td><td>1234</td></tr>
                                  <tr><td class="score-position">15.</td><td><a href="single_player.html">name15</a></td><td>-</td><td>1234</td></tr>
                                 </table>
                                </div>
                            </div>
                            <div class="score-view-all"></div>
                        </div>
                    </div>
           </div><!--Close Top Match-->
           <div class="col-md-3 right-column">
           <div class="top-score-title col-md-12 right-title">
                <h3>Latest News</h3>
                <div class="right-content">
                    <p class="news-title-right">A New Old Life</p>
                    <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                    <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                </div>
                <div class="right-content">
                    <p class="news-title-right">A New Old Life</p>
                    <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                    <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                </div>
                <div class="right-content">
                    <p class="news-title-right">A New Old Life</p>
                    <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                    <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                </div>
          </div>
          <div class="top-score-title col-md-12">
            <img src="images/banner2.jpg" alt="" />
          </div>
          <div class="top-score-title col-md-12 right-title">
              
</html>
